<?xml version="1.0"?>

<Configuration>

    <Translation name="RUN_ATM+OCE">
        <Description>Run script file (coupled run: atm+oce)</Description>
        <Template>ece-scm_oifs+nemo.sh.tmpl</Template>
        <Target>ece-scm_oifs+nemo.sh</Target>
        <Properties>executable</Properties>
    </Translation>

    <Translation name="RUN_ATM+OCE_RST">
        <Description>Run script file (coupled run with calculation of restart file: atm+oce_rst)</Description>
        <Template>ece-scm_oifs+nemo_rst.sh.tmpl</Template>
        <Target>ece-scm_oifs+nemo_rst.sh</Target>
        <Properties>executable</Properties>
    </Translation>

    <Translation name="RUN_ATM+OCE_SWZ">
        <Description>Run script file (coupled run, Schwarz correction: atm+oce)</Description>
        <Template>ece-scm_oifs+nemo_schwarz_corr.sh.tmpl</Template>
        <Target>ece-scm_oifs+nemo_schwarz_corr.sh</Target>
        <Properties>executable</Properties>
    </Translation>

    <Translation name="RUN_ATM">
        <Description>Run script file (OpenIFS single column model)</Description>
        <Template>ece-scm_oifs.sh.tmpl</Template>
        <Target>ece-scm_oifs.sh</Target>
        <Properties>executable</Properties>
    </Translation>

    <Translation name="RUN_OCE">
        <Description>Run script file (NEMO single column model)</Description>
        <Template>ece-scm_nemo.sh.tmpl</Template>
        <Target>ece-scm_nemo.sh</Target>
        <Properties>executable</Properties>
    </Translation>

    <Platform name="tetralith">
        <Description></Description>

        <Translation name="TETRALITH_CFG">
            <Description>Platform dependent configuration (tetralith)</Description>
            <Template>platform/tetralith-scm.cfg.tmpl</Template>
            <Target>ecconf.cfg</Target>
            <Properties></Properties>
        </Translation>

        <Parameter name="BUILD_ARCH">
            <Description>Architecture used when building EC-Earth</Description>
            <Type>STRING</Type>
            <Value>ecconf</Value>
        </Parameter>

        <Parameter name="ECEARTH_SRC_DIR">
            <Description>Base directory for EC-Earth sources</Description>
            <Type>PATH</Type>
            <Value>{{context.model_dir}}/sources</Value>
        </Parameter>

        <Parameter name="RUN_DIR_BASE">
            <Description>EC-Earth run directory</Description>
            <Type>PATH</Type>
            <Value>{{context.output_dir.parent}}</Value>
        </Parameter>

        <Parameter name="PROC_PER_NODE">
            <Description>Number of processors per node</Description>
            <Type>INTEGER</Type>
            <Value>32</Value>
        </Parameter>

        <Parameter name="ADD_TO_LD_LIBRARY_PATH">
            <Description>Additional shared library paths needed at runtime</Description>
            <Type>STRING</Type>
            <Value></Value>
        </Parameter>

        <Parameter name="PRE_LOAD_MODULES_CMD">
            <Description>Command run before any modules are loaded</Description>
            <Type>STRING</Type>
            <Value></Value>
        </Parameter>

        <Parameter name="MODULE_LIST">
            <Description>List of modules to load</Description>
            <Type>STRING</Type>
            <Value></Value>
        </Parameter>

    </Platform>

    <Platform name="pc-gcc-openmpi">
        <Description></Description>

        <Translation name="PC-GCC-OPENMPI_CFG">
            <Description>Platform dependent configuration (pc-gcc-openmpi)</Description>
            <Template>platform/pc-gcc-openmpi-scm.cfg.tmpl</Template>
            <Target>ecconf.cfg</Target>
            <Properties></Properties>
        </Translation>

        <Parameter name="BUILD_ARCH">
            <Description>Architecture used when building EC-Earth</Description>
            <Type>STRING</Type>
            <Value>ecconf</Value>
        </Parameter>

        <Parameter name="ECEARTH_SRC_DIR">
            <Description>Base directory for EC-Earth sources</Description>
            <Type>PATH</Type>
            <Value>{{context.model_dir}}/sources</Value>
        </Parameter>

        <Parameter name="RUN_DIR_BASE">
            <Description>EC-Earth run directory</Description>
            <Type>PATH</Type>
            <Value>{{context.output_dir.parent}}</Value>
        </Parameter>

        <Parameter name="PROC_PER_NODE">
            <Description>Number of processors per node</Description>
            <Type>INTEGER</Type>
            <Value></Value>
        </Parameter>

        <Parameter name="ADD_TO_LD_LIBRARY_PATH">
            <Description>Additional shared library paths needed at runtime</Description>
            <Type>STRING</Type>
            <Value></Value>
        </Parameter>

        <Parameter name="PRE_LOAD_MODULES_CMD">
            <Description>Command run before any modules are loaded</Description>
            <Type>STRING</Type>
            <Value></Value>
        </Parameter>

        <Parameter name="MODULE_LIST">
            <Description>List of modules to load</Description>
            <Type>STRING</Type>
            <Value></Value>
        </Parameter>

    </Platform>

    <Platform name="valentinair">
        <Description></Description>

        <Translation name="VALENTINAIR_CFG">
            <Description>Platform dependent configuration (valentinair)</Description>
            <Template>platform/valentinair-scm.cfg.tmpl</Template>
            <Target>ecconf.cfg</Target>
            <Properties></Properties>
        </Translation>

        <Parameter name="BUILD_ARCH">
            <Description>Architecture used when building EC-Earth</Description>
            <Type>STRING</Type>
            <Value>ecconf</Value>
        </Parameter>

        <Parameter name="ECEARTH_SRC_DIR">
            <Description>Base directory for EC-Earth sources</Description>
            <Type>PATH</Type>
            <Value>{{context.model_dir}}/sources</Value>
        </Parameter>

        <Parameter name="RUN_DIR_BASE">
            <Description>EC-Earth run directory</Description>
            <Type>PATH</Type>
            <Value>{{context.output_dir.parent}}</Value>
        </Parameter>

        <Parameter name="PROC_PER_NODE">
            <Description>Number of processors per node</Description>
            <Type>INTEGER</Type>
            <Value></Value>
        </Parameter>

        <Parameter name="ADD_TO_LD_LIBRARY_PATH">
            <Description>Additional shared library paths needed at runtime</Description>
            <Type>STRING</Type>
            <Value></Value>
        </Parameter>

        <Parameter name="PRE_LOAD_MODULES_CMD">
            <Description>Command run before any modules are loaded</Description>
            <Type>STRING</Type>
            <Value></Value>
        </Parameter>

        <Parameter name="MODULE_LIST">
            <Description>List of modules to load</Description>
            <Type>STRING</Type>
            <Value></Value>
        </Parameter>

    </Platform>


    <Model name="GENERAL">
        <Description></Description>

        <Parameter name="EXP_NAME">
            <Description>Experiment name (4 letters)</Description>
            <Type>STRING</Type>
            <Value>{{experiment.exp_id}}</Value>
        </Parameter>

        <Parameter name="RUN_START_DATE">
            <Description>Start date of the simulation. Use any reasonable syntax.</Description>
            <Type>DATE</Type>
            <Value>{{experiment.run_start_date}}</Value>
        </Parameter>

        <Parameter name="RUN_END_DATE">
            <Description>End date of the simulation. Use any reasonable syntax.</Description>
            <Type>STRING</Type>
            <Value>{{experiment.run_end_date}}</Value>
        </Parameter>

    </Model>

    <Model name="IFS">
        <Description></Description>

        <Parameter name="IFS_VERSION">
            <Description>Which IFS version to use. Can be 40r1v1.1.ref or 43r3v1.ref</Description>
            <Type>STRING</Type>
            <Value>{{context.ifs_version}}</Value>
        </Parameter>

        <Parameter name="IFS_LEVELS">
            <Description>Vertical resolution of IFS-SCM</Description>
            <Type>STRING</Type>
            <Value>{{experiment.ifs_levels}}</Value>
        </Parameter>

        <Parameter name="IFS_TIME_STEP_SEC">
            <Description>IFS-SCM time step in seconds</Description>
            <Type>INTEGER</Type>
            <Value>{{experiment.dt_ifs}}</Value>
        </Parameter>

        <Parameter name="CMIP5">
            <Description>Toogle CMIP5 forcings (TRUE or FALSE)</Description>
            <Type>BOOLEAN</Type>
            <Value>TRUE</Value>
        </Parameter>

        <Parameter name="CMIP5_RCP">
            <Description>RCP selection (1-4 or 0 for historical run)</Description>
            <Type>INTEGER</Type>
            <Value>0</Value>
        </Parameter>

        <Parameter name="CMIP5_FIXYEAR">
            <Description>Fix CMIP5 forcings at the indicated year (or 0 to ignore for transient runs)</Description>
            <Type>INTEGER</Type>
            <Value>0</Value>
        </Parameter>

        <Parameter name="IFS_INPUT_FILE">
            <Description>Path to OIFS init and forcing file (will be copied as scm_in.nc)</Description>
            <Type>PATH</Type>
            <Value>{{experiment.ifs_input_file}}</Value>
        </Parameter>

        <Parameter name="VOLCANOES">
            <Description>Include volcanic aerosols (TRUE or FALSE)</Description>
            <Type>BOOLEAN</Type>
            <Value>TRUE</Value>
        </Parameter>

        <Parameter name="IFS_LEGWWMS">
            <Description>Use non-orographic gravity wave scheme (T or F)</Description>
            <Type>STRING</Type>
            <Value>{{str(experiment.ifs_legwwms)[0]}}</Value>
        </Parameter>

        <Parameter name="IFS_LECUMF">
            <Description>Use mass-flux cumulus convection scheme (T or F)</Description>
            <Type>STRING</Type>
            <Value>{{str(experiment.ifs_lecumf)[0]}}</Value>
        </Parameter>

        <Parameter name="IFS_LEOCWA">
            <Description>Use ocean warm layer parameterization (T or F)</Description>
            <Type>STRING</Type>
            <Value>{{str(experiment.ifs_leocwa)[0]}}</Value>
        </Parameter>

        <Parameter name="IFS_NSTRTINI">
            <Description>initial forcing time step, if uneqal 1 need correct "seconds" in scm_in.nc</Description>
            <Type>INTEGER</Type>
            <Value>{{experiment.ifs_nstrtini}}</Value>
        </Parameter>

        <Parameter name="IFS_NRADFR">
            <Description>Frequency of full radiation, negative in hours, positive in time-steps</Description>
            <Type>INTEGER</Type>
            <Value>{{experiment.ifs_nradfr}}</Value>
        </Parameter>

        <Parameter name="IFS_OUTPUT_FORMAT">
            <Description>IFS-SCM output format</Description>
            <Type>STRING</Type>
            <Value>netcdf</Value>
        </Parameter>

    </Model>

    <Model name="NEM">

        <Parameter name="NEM_TIME_STEP_SEC">
            <Description>NEMO time step in seconds</Description>
            <Type>INTEGER</Type>
            <Value>{{experiment.dt_nemo}}</Value>
        </Parameter>

        <Parameter name="NEM_INPUT_FILE">
            <Description>Path to NEMO init file, relative to NEMO init data directory (will be copied as init_C1D.nc)</Description>
            <Type>PATH</Type>
            <Value>{{experiment.nem_input_file}}</Value>
        </Parameter>

        <Parameter name="WITH_LIM">
            <Description>Toogle sea ice model (TRUE or FALSE)</Description>
            <Type>BOOLEAN</Type>
            <Value>{{str(experiment.with_ice)[0]}}</Value>
        </Parameter>

        <Parameter name="LIM_TIME_STEP_SEC">
            <Description>LIM time step in seconds</Description>
            <Type>INTEGER</Type>
            <Value>{{experiment.dt_ice}}</Value>
        </Parameter>

        <Parameter name="LIM_INPUT_FILE">
            <Description>Path to LIM init file</Description>
            <Type>PATH</Type>
            <Value>{{experiment.ice_input_file}}</Value>
        </Parameter>

    </Model>

    <Model name="OASIS">
        <Description></Description>

        <Parameter name="CPL_FREQ_ATM_OCE_SEC">
            <Description>Coupling frequency between IFS and NEMO in seconds</Description>
            <Type>INTEGER</Type>
            <Value>{{experiment.dt_cpl}}</Value>
        </Parameter>

        <Parameter name="CPL_SCHEME">
            <Description>Coupling scheme used by OASIS. Parallel (0), sequential atmosphere-first (1), or sequential ocean-first (2) possible.</Description>
            <Type>INTEGER</Type>
            <Value>{{experiment.cpl_scheme}}</Value>
        </Parameter>

        <Parameter name="RSTAS_FILE">
            <Description>Path to atmosphere restart file (will be copied as rstas.nc)</Description>
            <Type>PATH</Type>
            <Value>{{experiment.oasis_rstas}}</Value>
        </Parameter>

        <Parameter name="RSTOS_FILE">
            <Description>Path to ocean restart file (will be copied as rstos.nc)</Description>
            <Type>PATH</Type>
            <Value>{{experiment.oasis_rstos}}</Value>
        </Parameter>

    </Model>

</Configuration>
